* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-md-8 {
    width: 67%;
    padding: 0 15px;
}

.col-md-4 {
    width: 33%;
    padding: 0 15px;
}

.col {
    width: 20%;
    padding: 0 15px;
}

.col-md-6 {
    width: 50%;
    padding: 0 15px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
    font-family: 'Londrina Solid', sans-serif !important;
}

.main_header {
    background: #52331A;
}

.main_header .row {
    align-items: center;
}

header {
    padding: 15px 0;
}

header .head_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .head_nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header .head_nav ul li+li {
    margin-left: 30px;
}

header .head_nav ul li a {
    font-size: 17px;
    font-weight: 500;
    color: #E0BCA0;
}

.user_info {
    margin-left: 50px;
    display: flex;
}

.user_info span {
    display: inline-block;
    margin: 0 10px;
    color: #E0BCA0;
    font-size: 22px;
}

.user_info a {
    border-radius: 3px;
    padding: 7px 20px;
    color: #52331A;
    border: 1px solid #f3a847;
    background-color: #E0BCA0;
}

.user_info a:hover {
    background-color: transparent;
    color: #E0BCA0;
}

.section_hero {
    display: flex;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/assets/5.jpg');
}

.section_hero .row {
    height: 100%;
}

.section_hero .col-md-6 {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 100%;
}

.section_hero .col-md-6 h3 {
    font-size: 93px;
    color: #52331A;
}

.section_hero .col-md-6 p {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 50px;
    color: #52331A;
}

.section_hero .col-md-6 button {
    padding: 20px 70px;
    width: fit-content;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 500;
    background: #52331A;
    color: #E0BCA0;
}

.section_wellcome {
    background-image: url('/src/assets/welcome-section.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 418px 0 283px;
}

.section_wellcome p {
    max-width: 720px;
    margin: 0 auto;
    color: #E0BCA0;
    text-align: center;
    font-size: 21px;
}

.section_our_cat {
    padding: 80px 0;
}

.section_our_cat .cat_info {
    position: relative;
    height: 396.45px;
}

.section_our_cat h2 {
    text-align: center;
    color: #52331A;
    margin-bottom: 10px;
}

.section_our_cat p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #52331A;
    margin-bottom: 80px;
}

.cat_thumbn {
    width: 70%;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    padding: 6px;
    border: 1px solid #52331A;
    z-index: 99999;
    border-radius: 15px;
    background: white;
}

.cat_thumbn img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.cat_content {
    border-radius: 15px;
    background-color: #52331A;
    padding: 97px 15px 15px 15px;
    height: 100%;
}

.cat_content h5 {
    color: #E0BCA0;
    text-align: center;
    font-size: 30px;
}

.cat_content p {
    color: #E0BCA0;
    margin-top: 11px;
    font-size: 16px;
    margin-bottom: 0;
}

.cat_content a {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}


.section_main {
    width: 100%;
    height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.section_main.sign_in {
    background-image: url('/src/assets/sign_in.jpg');
}

.section_main.sign_up {
    background-image: url('/src/assets/sign_up.jpg');
}

.section_main .container {
    width: 100%;
    height: 100%;
}

.section_main .container .form_main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section_main.sign_up .container .form_main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section_main .container form {
    background-color: #52331A;
    width: 520px;
    min-height: 323px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px;
}

.section_main .container form h2 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #E0BCA0;
}

.section_main .container form .form_group {
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.section_main .container form .form_group input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0 15px;
    background-color: transparent;
    border: 1px solid #E0BCA0;
    color: #E0BCA0;
}

.section_main .container form .form_group input:focus {
    outline: none;
    box-shadow: none;
}

.section_main .container form .forget_pass {
    margin-left: auto;
}

.section_main .container form .submit_btn {
    width: 100%;
}

.section_main .container form .submit_btn button {
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #E0BCA0;
    color: #E0BCA0;
    margin: 20px 0 30px;
    padding: 12px 0;
    font-size: 20px;
    letter-spacing: 2px;
}

.sectio-cats {
    background-image: url('/src/assets/catallbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.sectio-cats .container>h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.sectio-cats .cat-box {
    border: 1px solid #52331A !important;
    background-color: #E0BCA0;
    border-radius: 10px;
    padding: 11px;
    margin-bottom: 30px;
}

.sectio-cats .cat-img {
    height: 250px;
}

.sectio-cats .cat-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sectio-cats .cat-desc a {
    color: #272f32;
    font-size: 36px;
    margin: 15px 0 0;
    display: block;
}

.sectio-cats .cat-desc a:hover {
    color: #52331A;
    text-decoration: none;
}

.section_cat_details .cat_banner {
    position: relative;
    height: 500px;
}

.sectio-cats .cat-desc p {
    font-size: 20px;
    color: #272f32;
    margin: 5px 0;
}

.section_cat_details .cat_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_cat_details .cat_banner>.container {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1200px;
    transform: translate(-50%);
}

.section_cat_details h2 {
    font-size: 90px;
}

.section_cat_details .cat_details .cat_info {
    margin-bottom: 20px;
}

.section_cat_details .cat_details .cat_info span {
    display: inline-block;
    font-size: 20px;
    background: #52331A;
    padding: 4px 20px;
    border-radius: 7px;
    color: white;
}

.section_cat_details .cat_details .cat_info span+span {
    margin-left: 20px;
}

.section_cat_details .cat_details p {
    font-size: 20px;
    margin-bottom: 20px;
}

.section_cat_details .cat_details button {
    border-radius: 3px;
    padding: 10px 30px;
    color: #52331A;
    border: 1px solid #f3a847;
    background-color: #E0BCA0;
}

.section_cat_details .cat_details button+button {
    margin-left: 20px;
}

.footer {
    padding: 15px 0;
    border-top: 1px solid #52331A;
}

.footer .row {
    justify-content: center;
}

.footer p {
    text-align: center;
}

@media only screen and (max-device-width: 767px) {
    .row {
        flex-flow: column;
    }

    .col-md-6 {
        width: 100%;
    }

    .col-md-8 {
        width: 100%;
        padding: 0 15px;
    }

    .col-md-4 {
        width: 100%;
        padding: 0 15px;
    }

    .col {
        width: 100%;
        padding: 0 15px;
    }

    .user_info {
        margin-left: 12px;
    }

    .user_info a {
        padding: 7px 16px;
        font-size: 13px;
    }

    header .head_nav ul li a {
        font-size: 12px;
    }

    .section_hero {
        padding: 40px 0;
        height: auto;
    }

    .section_hero .col-md-6 button {
        padding: 20px 28px;
        font-size: 17px;
    }

    .section_hero .col-md-6 h3 {
        font-size: 41px;
    }

    .section_hero .col-md-6 p {
        font-size: 18px;
        margin-bottom: 27px;
    }

    .section_wellcome {
        padding: 40px 0;
        background: #52331A;
    }

    .section_wellcome p {
        font-size: 16px;
    }

    .section_our_cat {
        padding: 40px 0;
    }

    .section_our_cat p {
        margin-bottom: 40px;
    }

    .section_our_cat .cat_info {
        height: auto;
        margin-bottom: 33px;
    }

    .sectio-cats .container>h2 {
        font-size: 44px;
    }

    .sectio-cats .cat-img {
        height: 151px;
    }

    .sectio-cats .cat-desc a {
        font-size: 28px;
        margin: 8px 0 0;
    }

    .sectio-cats .cat-desc p {
        font-size: 17px;
        margin: 5px 0;
    }

    .section_cat_details .cat_details .cat_info span {
        font-size: 17px;
        padding: 4px 16px;
    }

    .section_cat_details .cat_details .cat_info span+span {
        margin-left: 13px;
    }

}